/*-----------------------------------*\                                 
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsl(5, 100%, 69%);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: hsl(5, 100%, 73%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --ff-roboto: 'Roboto', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * spacing
   */

  --section-padding: 60px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
  display: block;
}

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: var(--ff-josefin-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-size: 1.6rem;
  padding-block-start: -6px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--rich-black-fogra-29);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-primary:is(:hover, :focus) {
  --background: var(--salmon);
  --border-color: var(--salmon);
}

.btn-secondary {
  --background: transparent;
  --border-color: var(--black);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) {
  --background: hsla(0, 0%, 0%, 0.1);
}

.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar>li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--bittersweet);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bittersweet);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.card-banner {
  background: var(--cultured);
  position: relative;
  height: 350px;
  overflow: hidden;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition-2);
}

.product-card:is(:hover, :focus) .image-contain {
  transform: scale(1.1);
}

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 5px 15px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  border-radius: 25px;
}

.card-action-list {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  transition: var(--transition-1);
}

.product-card:is(:hover, :focus) .card-action-list {
  right: 20px;
  opacity: 1;
}

.card-action-item {
  position: relative;
}

.card-action-item:not(:last-child) {
  margin-bottom: 10px;
}

.card-action-btn {
  background: var(--white);
  color: var(--rich-black-fogra-29);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.card-action-btn ion-icon {
  --ionicon-stroke-width: 30px;
}

.card-action-btn:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.card-action-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  width: max-content;
  background: var(--black_90);
  color: var(--white);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.card-action-btn:is(:hover, :focus)+.card-action-tooltip {
  opacity: 1;
}

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-cat {
  font-family: var(--ff-roboto);
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 12px;
}

.card-cat-link {
  display: inline-block;
  color: inherit;
  transition: var(--transition-1);
}

.card-cat-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.product-card .card-title {
  margin-bottom: 12px;
}

.product-card .card-title>a {
  color: inherit;
  transition: var(--transition-1);
}

.product-card .card-title>a:is(:hover, :focus) {
  color: var(--bittersweet);
}

.card-price {
  color: var(--bittersweet);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-600);
}

.card-price del {
  color: var(--gray-x-11-gray);
  margin-left: 8px;
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) {
  border-color: transparent;
}





/*----------------------------------------*/
/*  Layout - Header
/*----------------------------------------*/



/*-- Main Header Area --*/
 .main-header-area .header-logo img {
  width: 125px;
} 

/* ---Sticky Header--- */
.header-sticky.header-transparent {
  position: fixed;
  width: 100%;
  z-index: 99;
} 

 @media (max-width: 767px) {
  .header-sticky.header-transparent {
    position: relative;
  }
}

.header-sticky.sticky {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
  left: 0;
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 99;
} 

/* ---Main Menu--- */
.main-nav>ul>li {
  display: inline-block;
  position: relative;
  padding: 33px 0;
}

.main-nav>ul>li:hover .dropdown-hover {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav>ul>li:hover .dropdown-hover-2 {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-nav>ul>li>a {
  display: block;
  padding: 8px 16px;
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

.main-nav>ul>li>a.active {
  color: #E72463;
}

.main-nav>ul>li>a:hover {
  color: #E72463;
}

.main-nav>ul>li>a i {
  margin-left: 0px;
  font-size: 15px;
  vertical-align: middle;
}

.main-nav>ul>li>a .menu-text {
  position: relative;
}

/*--- Dropdown ---*/
 .dropdown-submenu {
  background: #ffffff;
  padding: 20px 0 24px;
  width: 230px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #E72463;
}

.dropdown-submenu>li>a {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  position: relative;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-submenu>li>a:hover {
  color: #E72463;
}

.dropdown-submenu>li>a.active {
  color: #E72463;
}

.dropdown-submenu>li>a>i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
  font-size: 15px;
  padding-right: 15px;
}

.dropdown-hover {
  position: absolute;
  top: 110%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
  z-index: 999;
}

.dropdown-hover-2 {
  position: absolute;
  top: 110%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
  z-index: 999;
}  

/*--- Mega-Menu ---*/
.mega-menu {
  background: #ffffff;
  width: 700px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 20px 0;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #E72463;
}

@media (max-width: 1199px) {
  .mega-menu {
    left: 100%;
  }
}

.mega-menu .menu-colum {
  width: 33.333333%;
  padding: 10px;
  float: left;
}

.mega-menu .menu-colum ul li .mega-menu-text {
  position: relative;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  display: table-caption;
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 10px 20px;
}

.mega-menu .menu-colum ul li .mega-menu-text:after {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid #E72463;
  content: "";
  z-index: 1;
}

.mega-menu .menu-colum ul li a {
  padding: 10px 20px;
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.mega-menu .menu-colum ul li a:hover {
  color: #E72463;
}

.mega-menu .menu-colum ul li a.active {
  color: #E72463;
}

/*--- Header Right Area ---*/
 .dropdown-search {
  width: 340px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@media (max-width: 479px) {
  .dropdown-search {
    width: 280px;
  }
}

.dropdown-search form input {
  width: 100%;
  display: block;
  padding: 20px 20px 20px 20px;
  border: 0px;
} 

.dropdown-search form button {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px;
}

.dropdown-search form button:hover {
  color: #E72463;
}

.header-right-area.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-right-area.main-nav>ul {
  position: relative;
}

.header-right-area.main-nav>ul>li {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-right-area.main-nav>ul>li>span {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding-left: 15px;
  margin-left: 15px;
} 

 .header-right-area.main-nav>ul>li>span:before {
  left: 0;
  top: 50%;
  width: 1px;
  height: 12px;
  content: "";
  position: absolute;
  background-color: #000000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-right-area.main-nav>ul>li>span:first-child {
  padding: 0px;
  margin: 0px;
}

.header-right-area.main-nav>ul>li>span:first-child:before {
  display: none;
}

.header-right-area.main-nav>ul>li>a {
  padding: 8px 0px 7px;
}

.header-right-area.main-nav>ul>li>a>i {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}

.header-right-area.main-nav>ul>li>a>i:hover {
  color: #E72463;
}

.header-right-area.main-nav>ul>li.account-menu-wrap a.active {
  color: #E72463;
}

.header-right-area.main-nav>ul>li.sidemenu-wrap {
  margin-right: 30px;
}

.header-right-area.main-nav>ul>li.minicart-wrap {
  margin-right: 30px;
}

.header-right-area.main-nav>ul>li.minicart-wrap .minicart-btn {
  position: relative;
}

.header-right-area.main-nav>ul>li.minicart-wrap .minicart-btn i {
  font-size: 18px;
  line-height: 1;
  color: #000000;
} 

.header-right-area.main-nav>ul>li.minicart-wrap .minicart-btn i:hover {
  color: #E72463;
}

.header-right-area.main-nav>ul>li.minicart-wrap .minicart-btn .cart-item_count {
  background-color: #E72463;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  right: -10px;
  top: -5px;
}

.header-right-area.main-nav>ul>li.mobile-menu-btn a i {
  font-size: 20px;
} 

 .header-right-area .cart-item-wrapper {
  padding: 25px 20px;
  width: 350px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@media (max-width: 479px) {
  .header-right-area .cart-item-wrapper {
    width: 280px;
  }
}

.header-right-area .cart-item-wrapper .single-cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-img {
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-right: 15px;
  -webkit-flex-basis: 80px;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  width: 80px;
} 

 .header-right-area .cart-item-wrapper .single-cart-item .cart-text {
  -webkit-flex-basis: calc(100% - 95px);
  -ms-flex-preferred-size: calc(100% - 95px);
  flex-basis: calc(100% - 95px);
  width: calc(100% - 95px);
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn .cart-qty {
  font-size: 15px;
  font-weight: 600;
  color: #303030;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn .cart-price {
  font-size: 15px;
  font-weight: 600;
  color: #E72463;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn button {
  font-size: 18px;
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header-right-area .cart-item-wrapper .single-cart-item .cart-text .cart-text-btn button:hover {
  color: #E72463;
}

.header-right-area .cart-item-wrapper .cart-price-total {
  font-size: 20px;
  padding: 20px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin: 20px 0;
}

.header-right-area .cart-item-wrapper .cart-links a:not(:last-child) {
  margin-right: 5px;
} 

/*----- Offcanvas Mobile Menu start -----*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 380px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
  -ms-transform: translateX(calc(-100% - 50px));
  transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 280px;
  }
} 

 .off-canvas-wrapper .btn-close-off-canvas {
  left: 92%;
  position: relative;
}

@media (max-width: 479px) {
  .off-canvas-wrapper .btn-close-off-canvas {
    left: 89.2%;
  }
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
} 

/*----- Offcanvas Menu start -----*/
 .off-canvas-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-menu-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-menu-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.off-canvas-menu-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
} 

.off-canvas-menu-wrapper .off-canvas-inner-content {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(100% - 50px));
  -ms-transform: translateX(calc(100% - 50px));
  transform: translateX(calc(100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: auto;
  right: 0;
  position: fixed;
}

.off-canvas-menu-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
  overflow: auto;
}

.off-canvas-menu-wrapper .offcanvas-widget-area {
  padding-top: 40px;
}

.off-canvas-menu-wrapper .offcanvas-widget-area .desc-content {
  padding-bottom: 30px;
}

.off-canvas-menu-wrapper .top-info-wrap {
  padding-bottom: 20px;
}

.btn-close-off-canvas {
  width: 30px;
  height: 30px;
  color: #000000;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
} 

.btn-close-off-canvas i {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  line-height: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-close-off-canvas:hover {
  color: #E72463;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
} 

.btn-close-off-canvas:hover i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.top-info-wrap {
  bottom: 0px;
  margin-top: auto;
  padding-bottom: 40px;
}

.top-info-wrap .address-info {
  margin-bottom: 20px;
}

.top-info-wrap .address-info li {
  margin-bottom: 10px;
}

.top-info-wrap .address-info li i {
  font-size: 18px;
  margin-right: 10px;
}

.offcanvas-widget-area {
  padding: 0px 40px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
} 

@media (max-width: 479px) {
  .offcanvas-widget-area {
    padding: 0 30px 20px;
  }
}

.offcanvas-widget-area .menu-top-menu>li {
  list-style: none;
  margin-bottom: 20px;
  white-space: nowrap;
}

.offcanvas-widget-area .menu-top-menu>li>a {
  font-size: 60px;
  padding-bottom: 8px;
  color: #000000;
  line-height: 25px;
  font-family: "Great Vibes", cursive;
}

.offcanvas-widget-area .menu-top-menu>li>a:hover {
  color: #E72463;
}

.offcanvas-widget-area .switcher {
  border-top: 1px solid #e5e5e5;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 40px;
}

.offcanvas-widget-area .language {
  margin-bottom: 8px;
}

.offcanvas-widget-area .switcher-title {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu {
  background: none;
  display: inline-block;
} 

.offcanvas-widget-area .switcher-menu>ul>li {
  list-style: none;
  position: relative;
}

.offcanvas-widget-area .switcher-menu>ul>li>a {
  background: none;
  color: #E72463;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 5px 15px 5px 0;
  position: relative;
  vertical-align: middle;
}

.offcanvas-widget-area .switcher-menu>ul>li>a:before {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.offcanvas-widget-area .switcher-dropdown {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  height: auto;
  left: 50%;
  padding: 6px 10px !important;
  position: absolute;
  top: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .3s linear 0.2s;
  -o-transition: all .3s linear 0.2s;
  transition: all .3s linear 0.2s;
} 

.offcanvas-widget-area .switcher-menu>ul>li:hover .switcher-dropdown {
  opacity: 1;
  visibility: visible;
}

.offcanvas-widget-area .switcher-dropdown>li {
  list-style: none;
  display: block;
  border-bottom: 0 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.offcanvas-widget-area .switcher-dropdown>li:last-child {
  border-bottom: none;
}

.offcanvas-widget-area .switcher-dropdown>li>a {
  background: none;
  color: #555555;
  display: block;
  line-height: 33px;
  white-space: nowrap;
}

.offcanvas-widget-area .switcher-dropdown>li>a:hover {
  color: #E72463;
} 

/*---------------------------
    - Mobile Menu Css
-----------------------------*/
 .search-box-offcanvas {
  margin-bottom: 10px;
  padding: 20px 40px 0px 40px;
}

@media (max-width: 479px) {
  .search-box-offcanvas {
    padding: 30px 30px 0 30px;
  }
}

.search-box-offcanvas form {
  position: relative;
}

.search-box-offcanvas form input {
  color: #000000;
  font-size: 13px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 40px 0 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.search-box-offcanvas form input:hover {
  border-color: #E72463;
}

.search-box-offcanvas form .search-btn {
  top: 50%;
  right: 1px;
  font-size: 20px;
  color: #000000;
  position: absolute;
  background: #ffffff;
  border: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 8px;
}

.search-box-offcanvas form .search-btn:hover {
  color: #E72463;
}

.mobile-header .category-toggle {
  padding: 8px 15px;
}

.mobile-menu-btn .off-canvas-btn {
  font-size: 22px;
  cursor: pointer;
  padding: 0px 12px;
  line-height: 1;
  padding-right: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: -3px;
} 

.mobile-menu {
  height: 100%;
  padding-right: 30px;
  margin-right: -30px;
}

.mobile-menu li>a {
  font-size: 15px;
  color: #252525;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: block;
  padding: 10px 0;
  font-weight: 600;
}

.mobile-menu li>a:hover {
  color: #000;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px 8px;
  font-weight: 400;
} 








/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-title {
  margin-bottom: 10px;
}

.hero-title>strong {
  display: block;
}

.hero-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-8);
  line-height: 1.8;
  max-width: 46ch;
  margin-bottom: 25px;
}





/*-----------------------------------*\
 * #COLLECTION
\*-----------------------------------*/

.collection-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 45px 25px;
}




/*-----------------------------------*\
 * #PRODUCTS
\*-----------------------------------*/

.product .section-title {
  text-align: center;
  margin-bottom: 25px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.filter-btn {
  color: var(--onyx);
  padding: 10px 16px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.filter-btn.active {
  background: var(--bittersweet);
  color: var(--white);
  border-color: var(--bittersweet);
}

.product-list {
  display: grid;
  gap: 50px 25px;
}

.add-to-cart-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  /* Example color, replace with  theme color */
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ace626;
  /* Example color, replace with  theme color */
}





/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta-list {
  display: grid;
  gap: 40px;
}

.cta-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
  padding: 50px 20px;
}

.cta-card .card-subtitle {
  font-size: var(--fs-5);
  margin-bottom: 15px;
}

.cta-card .card-title {
  color: inherit;
  line-height: 1.3;
  margin-bottom: 20px;
}





/*-----------------------------------*\
 * #Featured Product
\*-----------------------------------*/

.special-banner {
  height: 500px;
  background-color: var(--smoky-black);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.special-banner .banner-title {
  color: var(--white);
  font-weight: var(--fw-600);
}

.special .section-title {
  margin-block: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.special .section-title .text {
  min-width: max-content;
}

.special .section-title .line {
  width: 100%;
  height: 1px;
  background: var(--gainsboro);
}





/*-----------------------------------*\
 * #SERVICE
\*-----------------------------------*/

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-inline: 30px;
}

.service-item {
  width: 220px;
}

.service-card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-card .card-icon {
  background: var(--bittersweet);
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.service-card .card-icon img {
  filter: brightness(0) invert(1);
  width: 60%;
  height: auto;
}

.service-card .card-title {
  font-size: var(--fs-6);
  margin-bottom: 8px;
}

.service-card .card-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
}

.service-card .card-text span {
  display: inline-block;
  color: var(--bittersweet);
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer {
  font-family: var(--ff-roboto);
}

.footer-top {
  background: var(--cultured);
}

.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gainsboro);
  margin-bottom: 50px;
}

.footer-brand .logo {
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-link {
  background: var(--gainsboro);
  color: var(--onyx);
  font-size: 20px;
  padding: 10px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
  
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.footer-link-text {
  flex: 1;
}

.footer-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 6px;
}

.table-head {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
}

.table-data {
  color: var(--onyx);
}


.footer-bottom {
  background: var(--rich-black-fogra-29);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  color: var(--bittersweet);
}





/*-----------------------------------*\
 * #GO TOP
\*-----------------------------------*/

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 2;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
  background: var(--salmon);
}





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar>li {
    min-width: calc(50% - 12.5px);
  }



  /**
   * HERO
   */

  .hero-text {
    font-size: var(--fs-7);
  }



  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }



  /**
   * CTA
   */

  .cta-card {
    text-align: left;
  }

  .cta-card .card-title {
    max-width: 14ch;
  }

  .cta-card .btn-link {
    margin-inline: 0;
  }


  /**
   * FOOTER
   */

  .footer-brand .logo {
    margin-bottom: 0;
  }

  .footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

}

/**
 * responsive for larger than 320px screen
 */

@media (min-width: 320px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar>li {
    min-width: calc(50% - 12.5px);
  }



  /**
   * HERO
   */

  .hero-text {
    font-size: var(--fs-7);
  }



  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }



  /**
   * CTA
   */

  .cta-card {
    text-align: left;
  }

  .cta-card .card-title {
    max-width: 14ch;
  }

  .cta-card .btn-link {
    margin-inline: 0;
  }



  /**
   * FOOTER
   */

  .footer-brand .logo {
    margin-bottom: 0;
  }

  .footer-brand {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
  }

}






/**
 * responsive for larger than 480px screen
 */


@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}


@media (min-width: 320px) {


  /**
   * Featured Product
   */

  .special-banner .banner-title {
    --fs-4: 2.2rem;
  }

  .special-product .has-scrollbar>li {
    min-width: 100%;
  }

  .special .container {
    display: flex;
    gap: 25px;
  }

  .special .section-title {
    margin-block-start: 0;
  }

  .special-banner,
  .special-product {
    min-width: calc(50% - 12.5px);
  }

  .special-banner {
    height: auto;
  }


}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 3rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .h4 {
    --fs-5: 2rem;
  }

 




  /**
   * Featured Product
   */

  .special-banner .banner-title {
    --fs-4: 2.2rem;
  }

  .special-product .has-scrollbar>li {
    min-width: 50%;
  }

  .special .container {
    display: flex;
    gap: 25px;
  }

  .special .section-title {
    margin-block-start: 0;
  }

  .special-banner,
  .special-product {
    min-width: calc(50% - 12.5px);
  }

  .special-banner {
    height: auto;
  }



  /**
   * GO TOP
   */

  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 2.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 970px;
  }

  .has-scrollbar>li {
    min-width: calc(33.33% - 16.66px);
  }



  /**
   * HEADER
   */

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .nav-action-text,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar-list,
  .nav-action-list {
    all: unset;
  }

  .navbar-item:not(:last-child) {
    border: none;
  }

  .navbar-list,
  .nav-action-list {
    display: flex;
  }

  .nav-action-list {
    gap: 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-inline: auto;
    gap: 35px;
  }

  .navbar-link {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-500);
  }

  .nav-action-list>li:first-child {
    display: block;
  }

  .nav-action-btn {
    position: relative;
  }

  .nav-action-badge ion-icon {
    --ionicon-stroke-width: 30px;
  }

  .nav-action-badge {
    position: absolute;
    top: 5px;
    right: -12px;
  }



  /**
   * HERO
   */

  .hero {
    height: 480px;
  }



  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }



  /**
   * CTA
   */

  .cta-list {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .cta-card {
    padding-inline: 50px;
  }



  /**
   * Featured Product
   */

  .special-banner {
    min-width: calc(33.33% - 25px);
  }

  .special-product {
    min-width: 66.66%;
  }

  .special-product .has-scrollbar>li {
    min-width: calc(50% - 12.5px);
  }


}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1500px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 3.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1280px;
  }



  /**
   * HERO
   */

  .hero {
    height: 580px;
  }

  .hero .container {
    max-width: 1000px;
  }

  .hero-text {
    font-size: var(--fs-6);
    max-width: 50ch;
  }



  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(6, 1fr);
  }



  /**
   * Featured Product
   */

  .special-banner {
    min-width: calc(200% - 25px);
  }

  .special-product .has-scrollbar>li {
    min-width: 18.5%;
  }

  .special-banner .banner-title {
    --fs-4: 2.4rem;
  }



  /**
   * SERVICE
   */

  .service-item {
    width: 275px;
  }

  .service-card .card-icon {
    min-width: 70px;
    height: 70px;
  }

  .service-card .card-title {
    --fs-6: 2rem;
  }


  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;

  }

}